img{
    width: 200px;
}

nav {
    border: solid 1px black;
}

header, footer {
    background-color: gray;
}

section{
    width: 400px; display: inline-block; border-style: solid;
}

#section2 {
    background-color: hotpink;
}