/* You're welcome to change any of this! */
* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: Georgia, sans-serif;
    background-color: #e4d6a1;
    margin-bottom: 50px;
}

header {
    background-color: black;
    padding: 10px 10vh;
    text-align: center;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 15% auto;
    /* justify-content: space-between; */
    color: #e4d6a1;
    .intro {align-self: center;
        justify-self:center;}
}

header h1 {
    margin: 0px;
    padding: 10px 0px;
    font-family: Georgia, cursive;
    font-size: 3em;
}

p{
    text-align: center;
    font-size: 1.25em;
}

h2 {
    font-family: georgia, cursive;
    font-size: 1.9em;
    margin-bottom: 10px;
    text-align: center;
    color: #e4d6a1;
}

.my-stuff {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 70px;
    row-gap: 70px;
}

.my-stuff > section {
    margin: 0vh 0; 
    background-color: black;
    padding: 15px;
    border-radius: 5px;
}
.my-stuff h2 {
    margin-bottom: 20px;
}

main, header > div {
    max-width: 1000px;
    margin-right: 400px;
    margin-left: 400px;
}

li > a {
    color: #e4d6a1;
    text-decoration: none;
}

#logo {
    max-width: 100%;
}