/******************/
/* General Styles */
/******************/

body {
   font-family: Arial;
}

div {
    width: 200px;
    height: 200px;
    background-color: #CCC;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}

.container {
    display: flex;
    column-gap: 30px;
    justify-content: center;
}

.one:hover {
    color: white;
    background-color: purple;
    border-radius: 50%;
}

.two:hover {
    color: white;
    background-color: hotpink;
    border-radius: 50%;
}

.three:hover {
    color: white;
    background-color: teal;
    border-radius: 50%;
}