/************************/
/* Starter Code: Layout */
/************************/
body {
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    margin: 0;
    overflow: hidden;
    height: 100vh;
    background: #111;
    color: #fff;
}

body * {
    box-sizing: border-box;
}

a,
a:hover,
a:visited,
a:active {
    color: #fff;
    text-decoration: none;
}

header {
    position: fixed;
    height: 100px;
    width: 100%;
    top: 0;
    left: 0;
}

main {
    display: grid;
    grid-template-columns: 250px auto;
    overflow-y: auto;
    margin-top: 100px;
    height: calc(100vh - 175px);
}

#sidebar {
    /* First & second row (spans), first column */
    grid-row: 1 / 3;
    grid-column: 1 / 2;

}

nav {
    /* First row, second column */
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

#featured-content {
    /* Second row, second column */
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

footer {
    background: #222;
    height: 75px;
}

::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-thumb {
    border: 4px solid transparent;
    border-radius: 16px;
    background-clip: padding-box;
    min-height: 30px;
    background-color: hsla(0, 0%, 100%, .3);
}

/********************************* Your code below this line ******************************/



/***************************/
/* Part A: Left Navigation */
/***************************/

/* Your Code Here */

aside {
    margin-left: 20px;
    display:grid;
    grid-template-columns: 1fr;
    /* grid-auto-rows: minmax(20px, 60px); */
    grid-template-rows: repeat(4, max-content);
    /* grid-auto-rows: max-content; */
    font-size: 1.3em;
    font-family: 'arial';
}

h1 i {
    margin-right: 10px;
    font-size: 1.4em;
}

a i {
    margin-right: 20px;
    margin-left: 15px;
}

aside > h1 {
    margin-bottom: 50px;
}

aside > a {
    margin-bottom: 30px;
}

#sidebar > a:hover,
#sidebar > a.selected {
    border-left: solid 4px #1DB954;
}





/********************************/
/* Part B: Header & Nav Styling */
/********************************/

/* Your Code Here */

header {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 30px;
    padding-right: 20px;
}

#upgrade {
    border: solid 1px white;
    border-radius: 120px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    /* Shortcut below */
    /* padding: 10px 30px; */
    text-transform: uppercase;
}

#profile {
    /* border: solid 1px white; */
    border-radius: 120px;
    border-color: #191414;
    margin-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    /* Shortcut below */
    /* padding: 10px 30px; */
    text-transform: uppercase;
    font-weight: bold;
    background-color: #191414
}

header > a i {
    margin-right: 5px;
    font-size: larger;
}

nav {
    display:flex;
    column-gap: 20px;
    font-family: 'arial';
    margin-bottom: 15px;
}

nav > a {
    text-transform: uppercase;
    font-weight: 500;
    border-bottom: solid 3px transparent;
    margin: 0px 30px 0px;
}

nav > a:hover,
nav> a.selected {
    border-bottom: solid 4px #1DB954;
}


/*************************/
/* Part C: Artists Panel */
/*************************/

/* Your Code Here */

.artist-card {
    background-color: #191414;
    border-radius: 5%;
    padding: 20px;
    padding-bottom: 70px;
}

#featured-content{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 30px;
    gap: 25px
}

.artist-card img {
    width: 100%;
    border-radius: 50%;
}

h2 {
    font-size: 1.2em;
    margin-bottom: 5px;
}

.artist-card p {
    margin: 0;
    color: #CCC;
}

.artist-card button{
    display: none;
}



/*****************/
/* Mobile Design */
/*****************/
@media screen and (max-width: 1000px) {
    #upgrade {
        margin: 10px;
    }
    
    #profile {
        margin: 10px;
        padding: 10px;
    }
    
    #featured-content{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    nav > a {
        margin: 0px 10px 0px;
    }
}



@media screen and (max-width: 700px) {
   
    main {
        display: grid;
        grid-template-columns: 1fr;
    }

    #profile {
        margin-right: 30px;
        font-size: smaller;
    }
    
    #featured-content {
        display: flex;
        flex-wrap: wrap;
        /* justify-content: space-around; */
    }

    .artist-card {
        width: calc(50% - 20px)
    }

    #upgrade {
        display: none;
    }

    #sidebar {
        display: none;
    }

    nav > a {
        margin: 0px 0px 0px;
        font-size: smaller;
    }

}